/*menu laterale*/
.sidenav {
    
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202225;
    padding-top: 20px;
}
/*scritte nel menu laterale*/
.sidenav div, a {
    
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 2vw;
    color: #818181;
    display: block;
    border-top:  2px solid #72767d;
}

.sidenav div:hover {
    background-color: #1ab188;
    color:white;
    cursor:pointer;
}

.sidenav a:hover {
    background-color: #1ab188;
    color:white;
    cursor:pointer;
}
/*centra la griglia*/
.main {
    margin-left: 150px; 
}



.sidenav .hide:hover{                 /*serve per non mostrare il verde andando sopra con il mouse al div in più*/
  background-color: #202225;
}

/*pagina del menu che rimane nascosta */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 10%;
    background-color: rgba(2, 82, 122, 0.9);
    overflow-x: auto;             /*si nascondono i div del menu*/
    transition: 0.5s;
    
  }
/*contenuto pagina del menu*/
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
/*bottone di chiusura della pagina del menu*/
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 60px;
    border-top:none;
    color:#ff5050;
}
.overlay .closebtn:hover{
      cursor:pointer;
      color:white;
}
/*titolo della pagina del menu*/
.overlay h1{

      color: #00b33c;
}
/*radio button per le difficoltà*/
.radio-toolbar {
   margin-left:8%;
   margin-top:30%;

}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
/*etichetta del radio button*/
.radio-toolbar label {

      cursor:pointer;
      height: 130px;
      width: 120px;
      display: inline-block;
      background-color: #ddd;
      padding: 15px 20px;
      margin-right: 15px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      text-align: center;
      box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
      position: relative;
      border: 2px solid hsla(150, 75%, 50%, 1);
      border-radius: 20px;
      font-weight: 800;
      color:#72767d;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

/*bottone selezionato e suo contenuto*/
.radio-toolbar input[type="radio"]:checked + label {
      background-color: hsla(150, 75%, 50%, 1);
      border-color: #4c4;
      color:white;
}

/*riquadro nelle pagine del menu*/
.mark{

      border: 6px solid lime;
      border-radius: 50px;
      width:650px;
      height: 575px;
      text-align: left;
      border-style: inset;
      margin-left: 21%;
      background-color: rgba(19, 35, 47, 0.9);

}
/*contornodella spiegazione del gioco*/
.explain{
    
    border: 4px solid lime;
    border-radius: 25px;
    width:825px;
    height: 550px;
    text-align: left;
    border-style: inset;
    margin-left: 12%;
    background-color: rgba(19, 35, 47, 0.9);
    font-weight:300;
    font-family: serif;
      
}

/*paragrafo della spiegazione del gioco*/
pre{
    color:white;  
    text-align: left; 
    font-size: 16px;
    font-family: serif;

}
/*campo delle statistiche personali*/
fieldset{
      border: 3px solid lime;
      border-radius: 5px;
      width:975px;
      height: 125px;
      text-align: left;
      border-style: inset;
      margin-left: 5%;
      background-color: rgba(19, 35, 47, 0.9);
      color:white;
      font-size:25px;
      padding-top:2%;

}
/*campo delle classifiche*/
.fieldset1{

      border: 3px solid lime;
      border-radius: 5px;
      width:975px;
      height: 450px;
      text-align: left;
      border-style: inset;
      margin-left: 5%;
      background-color: rgba(19, 35, 47, 0.9);
      color:white;
      font-size:25px;
      padding-top:2%;

}
    
/*scritta delle bandierine posizionabili*/
.par{
      font-family: Verdana;
      color:#72767d;
      font-weight:500;
      font-size:20px;
}

/*utile per tenere fissa la griglia ridimensionando la pagina*/
.wrapper {                        /*in questo modo se riduco la pagina non si muove tutto*/
        margin-left:auto;
        margin-right:auto;
        width:1100px;
}

/*aggiunge una barra di scroll se la tabella supera una certa dimensione*/
.table-scroll {
        height:300px;
        overflow:auto; 

}
/*tabelle di classifica*/
.rank{
    font-size:22px;
    background-color: #34495e;
    border-collapse: collapse;

}

.rank td, th {
    
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #2c3e50;
    border-color: black;
    border-radius:0px;
}

.rank td:nth-child(even) {
    
    background-color: #16a085;
}
/*tabella dei punteggi*/
.rank1{

    background-color: #34495e;
    border-collapse: collapse;
    color: black;
    font-size:22px;
    font-weight:700;
    margin-left:250px;

}

.rank1 td, th {
    
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #2c3e50;
    border-color: black;
    border-radius:0px;

}
.rank1 th{
    
    color:white;

}

.rank1 td:nth-child(even) {
    
    background-color: #16a085;
}
/*stile delle difficoltà nella tabella dei punteggi*/
.col{
    
    color:white;
}

/*posizionamenti delle tabelle di classifica, di fianco*/
.left{
    
    float:left;
    width: 40%;
    margin-right:65px;
    margin-left:10px;
}
.right{
    
    float:left;
    width: 52%;

}